@{
    ViewData["Title"] = "Home Page";
}
@model TwitterFeed.Models.Root


<div class="text-center">
    <div class="layout__main">
        @foreach (var item in Model.data)
        {
            <div>@item.text</div>
        }
    </div>
</div>